*/target/
*.class
bin
lib
logs

# GWT
diosmio-gwt/.gwt/
diosmio-gwt/src/main/gwt-unitCache/
diosmio-gwt/src/main/webapp/DiosMioGwt/
diosmio-gwt/src/main/webapp/net.alaux.diosmio.gwt.DiosMioGwtJUnit/
diosmio-gwt/src/main/webapp/WEB-INF/deploy
diosmio-gwt/src/main/webapp/WEB-INF/classes
